!public/stylesheets/base.css
!public/stylesheets/font.css
!public/stylesheets/reset.css
**/debug.log
*.orig
*~
.*\~
.DS_Store
.project
db/schema.rb
deploy/private/
log/*.log
nbproject
nbproject/*
private
private/*
public/javascripts/compiled/**/*
public/stylesheets/*.css
tmp/*
tmp/**/*
coverage
coverage/*
